<div id="cameras">
  <div class="add-camera-block">
    <span>Cameras</span>
    <button mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-nav-list *ngIf="cameras$ | async as cameras; else loading">
    <ng-container *ngFor="let camera of cameras">
      <app-camera [camera]="camera"></app-camera>
    </ng-container>
  </mat-nav-list>

  <ng-template #loading>
    <div class="empty-state">
      No cameras found.<br>
      You can add a camera via the 'add camera' button.
    </div>
  </ng-template>
</div>
