#cameras {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  position: relative;
  box-shadow: 2px 0px 6px 2px #0006;
  z-index: 1;
}

.add-camera-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.empty-state {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  padding: 20px;
}

