#cameras {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.add-camera-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.empty-state {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  padding: 20px;
}

