<div id="camera-events">
  <ng-container *ngIf="cameraEvents$ | async as cameraEvents; else loading">
    <mat-list *ngIf="cameraEvents.length; else emptyState">
      <ng-container *ngFor="let item of cameraEvents | keyvalue">
        <app-camera-event
          [item]="item.value"
          [selected]="isSelected(item.value)"
          (itemClick)="onItemClick($event)">
        </app-camera-event>
      </ng-container>
    </mat-list>
  </ng-container>
</div>

<ng-template #emptyState>
  <div class="empty-state">
    No camera events found.<br />
    Camera events will start to appear after selecting a camera from the list.
  </div>
</ng-template>
<ng-template #loading>No Items!</ng-template>
